@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Della Respira', serif;
}

body {
    background-image: linear-gradient(to bottom, red 30%, blue);
}

#cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, rgb(252, 45, 45), rgb(107, 20, 20) );
    width: 100%;
    height: 400px;
    padding-left: 15px;
}

#cabeçalho h1 {
    color: yellow;
    font-size: 4em;
}

#cabeçalho > img {
    width: 48%;
}
#boxTitulo {
    display: block;
    width: 460px;
    background-color: red;
    box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.20);
    padding: 10px;
}

#navegação {
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 15px;
    background-color: rgb(139, 0, 0);
    height: 65px;
}

#navegação a {
    background-color: rgb(243, 31, 31);
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    color: white;
    transition: 100ms linear;
}

#navegação a:hover {
    cursor: pointer;
    transform: scale(1.3);
    background-color: rgb(221, 168, 168);
    color: #970068;
}

#pt1 {
    background-color: #970068;
    max-width: 750px;
    margin: 30px auto;
    border: 2px solid white;
    padding: 15px;
}

#pt1 img {
    margin: 30px;
    display: block;
    width: 67%;
    margin: auto;
}

#pt2 {
    display: block;
    background-color: #970068;
    max-width: 1000px;
    margin: auto;
    border: 2px solid white;
}

#divi {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    margin: 30px;
    border: 1px solid white;
}

#divi #para {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;

    text-align: justify;
    color: white;
    width: 250px;
    padding: 0px 0px 0px 15px;
}

#divi #rimg {
    grid-row-start: 2;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: -70px;
}

#rimg img {
    margin: 10px;
    width: 90%;
}

#rodape {
    height: 300px;
    background-image: linear-gradient(to top, rgb(175, 28, 28), #970068 50%, #2400DB);
    border-top: 2px solid white;
    margin-top: 30px;
}
